<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="#"><span class="glyphicon glyphicon-fire"></span></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                        class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/addStudent" class="hvr-underline-reveal">Add Student</a>
                    </li>
                    <li><a href="/getAllStudents" class="hvr-underline-reveal">All Students</a>
                    </li>
                    <li><a href="/deleteStudent" class="hvr-underline-reveal">Delete</a>
                    </li>
                    <li><a href="/updateStudent" class="hvr-underline-reveal">Update</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>